{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
            <!--Miga-->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Materials</a></li>
                                <li class="breadcrumb-item active">All</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!--Contenido-->
            <div class="row mt-3">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10">
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills nav-justified" id="TabFaseUno" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="all-tab" data-toggle="tab" href="" role="tab"
                                aria-controls="all" aria-selected="true">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="category-tab" data-toggle="tab" href="{% url 'phase_one:category' %}" role="tab"
                                aria-controls="category" aria-selected="false">Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="materials-tab" data-toggle="tab" href="" role="tab"
                                aria-controls="materials" aria-selected="false">Materials</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="providers-tab" data-toggle="tab" href="" role="tab"
                                aria-controls="providers" aria-selected="false">Providers</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-pane" id="category" role="tabpanel" aria-labelledby="category-tab">
                     {% block prueba %}
                        {% endblock %}
                    </div>

                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>
            </div>
{% endblock %}



