{% extends 'base_phase_one.html' %}
{% block form %}
 <div class="card-body mt-5 p-0">
    <div class="row">
        <div class="col-md-4">
                                            <div class="row">
                                                  <div class="form-group mb-3 text-right backGray col-sm-10">
                                                        <form method="post">
                                                            {% csrf_token %}
                                                        <div class="input-group">
                                                            {{form_subcategory}}
                                                        </div>
                                                        <button type="submit" name="btnform1"
                                                            class="btn btn-secondary btn-xs mt-2">Save</button>
                                                        </form>
                                                    </div>

                                                      <div class="form-group mb-3 text-right backGrayDos col-sm-10">
                                                        <form method="post">
                                                            {% csrf_token %}
                                                        <div class="input-group">
                                                            {{form_subcategoryTwo}}
                                                        </div>
                                                        <button type="submit" name="btnform2"
                                                            class="btn btn-secondary btn-xs mt-2">Save</button>
                                                        </form>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-10">
                                                    <form role="form" method="post">
                                                        {% csrf_token %}
                                                    <b class="text-center" style="color: #000;">Create
                                                        Category</b>
                                                    <div class="form-group mt-3">
                                                        {{form_category.name}}
                                                    </div>
                                                    <div class="form-group mb-3 text-right backGray">
                                                             <div class="input-group-prepend">
                                                                {{form_category.subcategory}}
                                                            </div>
                                                    </div>
                                                    <div class="form-group mb-3 text-right backGray">
                                                             <div class="input-group-prepend">
                                                                {{form_category.subcategory_two}}
                                                            </div>
                                                    </div>

                                                    <button type="submit" name="btnform3" class="btn btnCategory mt-2">Create</button>
                                                  </form>
                                                    </div>


                                                <div class="col-sm-2"></div>
                                            </div>
        </div>
        <div class="col-md-8">
            <p class="text-right"><button class="btn btn-flat btn-sm"
                                          style="background: #001D2C;color: #fff;">Exportar</button></p>

            <table class="table table-striped projects mt-3" style="background:#ffffff;">
                <thead>
                    <tr>
                        <th style="width: 5%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Category
                        </th>
                        <th style="width: 25%">
                            Subcategory
                        </th>
                        <th style="width: 25%">
                            Subcategory 2
                        </th>

                        <th style="width: 30%">
                        </th>
                    </tr>
                </thead>
                <tbody>

                        {% for category in categories %}
                        <tr>
                        <td>
                            {{ forloop.counter}}
                        </td>
                        <td>
                           {{ category.name}}
                        </td>
                        <td>
                           {{ category.subcategory}}
                        </td>
                        <td>
                            {{ category.subcategory_two}}
                        </td>

                         <td class="project-actions text-right">
                             <a class="btn btn-info btn-sm" href="{% url 'phase_one:edit_cate' category.id  %}">
                                 <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                 </i>
                             </a>
                             <a class="btn btn-danger btn-sm" href="{% url 'phase_one:delete_cate' category.id  %}">
                                 <i class="fas fa-trash" style="color: #ffffff;">
                                 </i>
                             </a>
                            </td>
                             </tr>
                        {% endfor %}

                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_paginate paging_simple_numbers"
                        id="example1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="example1_previous">
                                <a href="#" aria-controls="example1" data-dt-idx="0"
                                    tabindex="0" class="page-link">
                                    Previous
                                </a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="example1" data-dt-idx="1"
                                    tabindex="0" class="page-link">
                                    1
                                </a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example1" data-dt-idx="2"
                                    tabindex="0" class="page-link">
                                    2
                                </a>
                            </li>
                            <li class="paginate_button page-item next" id="example1_next">
                                <a href="#" aria-controls="example1" data-dt-idx="7"
                                    tabindex="0" class="page-link">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
