{% extends 'base_phase_one.html' %}
{% block form %}
<div class="card-body mt-5 p-0">
    <div class="row">
        <div class="col-md-5">
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-10">
                        <b class="text-center" style="color: #000;">Create
                            Material</b>

                        <div class="form-group mt-3">
                            <div class="input-group">
                                {{form_material.name}}&nbsp;
                                {{form_material.reference}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_material.description}}
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                {{form_material.color}}&nbsp;
                               {{form_material.price}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{form_material.measured_type}}
                        </div>

                        <div class="form-group" id="materialGroup">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span style="font-size: .85rem !important;">Area&nbsp;</span>
                                </div>
                                <div class="input-group-prepend">
                                    <input type="text" size=1 class="form-control monto" name="Precio" id="Precio" value="" onkeyup="multi();">
                                    <span>&nbsp;x&nbsp;</span>
                                    <input type="text" size=1 class="form-control monto" name="Cantidad" id="Cantidad" onkeyup="multi();">
                                </div><span>&nbsp;=&nbsp;</span>
                                      <input type="hidden" name="area_total" id="area_total">
                                 <label id="Resultado">
                                 </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="custom-file">
                                    {{form_material.image}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                {{form_material.environment}}&nbsp;
                                 {{form_material.category}}
                            </div>
                        </div>
                        <button type="submit"
                            class="btn btnMaterials mt-2">Create</button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>

            </form>
        </div>
        <div class="col-md-7">
            <p class="text-right"><button class="btn btn-flat btn-sm" style="background: #001D2C;color: #fff;">Exportar</button></p>
            <table class="table table-striped projects mt-3" style="background:#ffffff;">
                <thead>
                    <tr>
                        <th style="width: 5%">
                            ID
                        </th>
                        <th style="width: 20%">
                            Name
                        </th>
                        <th style="width: 10%">
                            Reference
                        </th>
                        <th style="width: 15%">
                            Category
                        </th>
                        <th style="width: 40%">
                        </th>
                    </tr>
                </thead>
                <tbody>

                        {% for material in materials %}
                         <tr>
                        <td>
                            {{ forloop.counter}}
                        </td>
                        <td>
                           {{ material.name}}
                        </td>
                        <td>
                           {{ material.reference}}
                        </td>
                        <td>
                            {{ material.category}}
                        </td>

                         <td class="project-actions text-right">
                             <a class="btn btn-info btn-sm" href="{% url 'phase_one:view_material' material.id  %}">
                                 <i class="fas fa-eye" style="color: #ffffff;">
                                 </i>
                             </a>
                             <a class="btn btn-info btn-sm" href="{% url 'phase_one:edit_material' material.id  %}">
                                 <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                 </i>
                             </a>
                             <a class="btn btn-danger btn-sm" href="{% url 'phase_one:delete_material' material.id  %}">
                                 <i class="fas fa-trash" style="color: #ffffff;">
                                 </i>
                             </a>
                            </td>
                         </tr>
                        {% endfor %}

                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="dataTables_paginate paging_simple_numbers"
                        id="example1_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="example1_previous">
                                <a href="#" aria-controls="example1" data-dt-idx="0"
                                    tabindex="0" class="page-link">
                                    Previous
                                </a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#" aria-controls="example1" data-dt-idx="1"
                                    tabindex="0" class="page-link">
                                    1
                                </a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#" aria-controls="example1" data-dt-idx="2"
                                    tabindex="0" class="page-link">
                                    2
                                </a>
                            </li>
                            <li class="paginate_button page-item next" id="example1_next">
                                <a href="#" aria-controls="example1" data-dt-idx="7"
                                    tabindex="0" class="page-link">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function multi(){
    var total = 1;
    var change= false; //
    $(".monto").each(function(){
        if (!isNaN(parseFloat($(this).val()))) {
            change= true;
            total *= parseFloat($(this).val());
        }
    });

    total = (change)? total:0;
    document.getElementById('Resultado').innerHTML = total;
    $("#area_total").val(total);
}
</script>
{% endblock %}