{% extends 'base_phase_one.html' %}
{% block form %}
  <div class="card-body mt-5 p-0">
        <div class="row">
            <div class="col-md-4 ">
                <form role="form" method="post">
                     {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-10">
                            <b class="text-center" style="color: #000;">Create
                                Providers</b>
                            <div class="form-group mt-3">
                                {{form_provider.name}}
                            </div>

                            <div class="form-group">
                               {{form_provider.phone_number}}
                            </div>
                            <div class="form-group">
                               {{form_provider.email}}
                             </div>
                             <div class="form-group">
                               {{form_provider.address_company}}
                             </div>
                            <div class="form-group">
                               {{form_provider.activity}}
                             </div>
                             <div class="form-group">
                                <div class="input-group">
                                    {{form_provider.state}}
                                </div>
                            </div>
                            <div class="form-group">
                                {{form_provider.zip_code}}
                             </div>
                            <div class="form-group">
                                {{form_provider.material}}
                             </div>
                            <button type="submit"
                                class="btn btnSubcategory mt-2">Create</button>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>

                </form>
            </div>
            <div class="col-md-8">
                <p class="text-right"><button class="btn btn-flat btn-sm" style="background: #001D2C;color: #fff;">Exportar</button></p>
                <table class="table table-striped projects mt-3" style="background:#ffffff;">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                ID
                            </th>
                            <th style="width: 20%">
                                Name
                            </th>
                            <th style="width: 25%">
                                Phone Number
                            </th>
                            <th style="width: 25%">
                                Email
                            </th>

                            <th style="width: 30%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                         <tr>
                        {% for provider in providers %}
                        <td>
                            {{ forloop.counter}}
                        </td>
                         <td>
                           {{ provider.name}}
                        </td>
                        <td>
                           {{ provider.phone_number}}
                        </td>
                        <td>
                           {{ provider.email}}
                        </td>

                         <td class="project-actions text-right">
                             <a class="btn btn-info btn-sm" href="{% url 'phase_one:view_provider' provider.id  %}">
                                 <i class="fas fa-eye" style="color: #ffffff;">
                                 </i>
                             </a>
                             <a class="btn btn-info btn-sm" href="{% url 'phase_one:edit_provider' provider.id  %}">
                                 <i class="fas fa-pencil-alt" style="color: #ffffff;">
                                 </i>
                             </a>
                             <a class="btn btn-danger btn-sm" href="{% url 'phase_one:delete_provider' provider.id  %}">
                                 <i class="fas fa-trash" style="color: #ffffff;">
                                 </i>
                             </a>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="dataTables_paginate paging_simple_numbers"
                            id="example1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled"
                                    id="example1_previous">
                                    <a href="#" aria-controls="example1" data-dt-idx="0"
                                        tabindex="0" class="page-link">
                                        Previous
                                    </a>
                                </li>
                                <li class="paginate_button page-item active">
                                    <a href="#" aria-controls="example1" data-dt-idx="1"
                                        tabindex="0" class="page-link">
                                        1
                                    </a>
                                </li>
                                <li class="paginate_button page-item ">
                                    <a href="#" aria-controls="example1" data-dt-idx="2"
                                        tabindex="0" class="page-link">
                                        2
                                    </a>
                                </li>
                                <li class="paginate_button page-item next" id="example1_next">
                                    <a href="#" aria-controls="example1" data-dt-idx="7"
                                        tabindex="0" class="page-link">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
{% endblock %}