{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header mb-2">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="users.html">Model Apartment</a></li>
                                <li class="breadcrumb-item active">View details</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <section class="content-header mb-4">
                <div class="container-fluid">
                    <div class="row mt-5">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6 mt-1">

                            <div class="callout">
                                <h4 class="modal-title text-left ml-2 mb-3">Apartment Details</h4>

                                <form role="form mt-4" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="infoGroup">
                                                    {{form}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit"
                            class="btn btnMaterials mt-2">Save</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
</div>
{% endblock %}